In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("Third App").getOrCreate()

In [4]:
path="D:/Expedia/HandsOn/Spark/input/BankChurners.csv"
df=spark.read.option("header","true").option("inferSchema","true").csv(path)

In [5]:
df.show(3)

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|768805383|Existing Customer|          45|     M|              3|    High School|       Married|    $60K - $80K|         Blue|            39|                       5|                     1|                    3|     12691.0|                777|        11914.0|               1.335|           1144|            42|              1.625|                0.061|                                                                                                                         9.3448E-5|                                                                                                                           0.99991|
|818770008|Existing Customer|          49|     F|              5|       Graduate|        Single| Less than $40K|         Blue|            44|                       6|                     1|                    2|      8256.0|                864|         7392.0|               1.541|           1291|            33|              3.714|                0.105|                                                                                                                         5.6861E-5|                                                                                                                           0.99994|
|713982108|Existing Customer|          51|     M|              3|       Graduate|       Married|   $80K - $120K|         Blue|            36|                       4|                     1|                    0|      3418.0|                  0|         3418.0|               2.594|           1887|            20|              2.333|                  0.0|                                                                                                                         2.1081E-5|                                                                                                                           0.99998|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
only showing top 3 rows

In [6]:
df.printSchema()

root
 |-- CLIENTNUM: integer (nullable = true)
 |-- Attrition_Flag: string (nullable = true)
 |-- Customer_Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Dependent_count: integer (nullable = true)
 |-- Education_Level: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income_Category: string (nullable = true)
 |-- Card_Category: string (nullable = true)
 |-- Months_on_book: integer (nullable = true)
 |-- Total_Relationship_Count: integer (nullable = true)
 |-- Months_Inactive_12_mon: integer (nullable = true)
 |-- Contacts_Count_12_mon: integer (nullable = true)
 |-- Credit_Limit: double (nullable = true)
 |-- Total_Revolving_Bal: integer (nullable = true)
 |-- Avg_Open_To_Buy: double (nullable = true)
 |-- Total_Amt_Chng_Q4_Q1: double (nullable = true)
 |-- Total_Trans_Amt: integer (nullable = true)
 |-- Total_Trans_Ct: integer (nullable = true)
 |-- Total_Ct_Chng_Q4_Q1: double (nullable = true)
 |-- Avg_Utilization_Ratio: double (nullable = true)
 |-- Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1: double (nullable = true)
 |-- Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2: double (nullable = true)

In [7]:
df.columns

['CLIENTNUM',
 'Attrition_Flag',
 'Customer_Age',
 'Gender',
 'Dependent_count',
 'Education_Level',
 'Marital_Status',
 'Income_Category',
 'Card_Category',
 'Months_on_book',
 'Total_Relationship_Count',
 'Months_Inactive_12_mon',
 'Contacts_Count_12_mon',
 'Credit_Limit',
 'Total_Revolving_Bal',
 'Avg_Open_To_Buy',
 'Total_Amt_Chng_Q4_Q1',
 'Total_Trans_Amt',
 'Total_Trans_Ct',
 'Total_Ct_Chng_Q4_Q1',
 'Avg_Utilization_Ratio',
 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']

In [13]:
df.count()

10127

In [16]:
df.select("Gender").distinct().show()

+------+
|Gender|
+------+
|     F|
|     M|
+------+

In [23]:
df.groupBy('Gender').count().show()

+------+-----+
|Gender|count|
+------+-----+
|     F| 5358|
|     M| 4769|
+------+-----+

In [24]:
df.groupBy('Gender','Attrition_Flag').count().show()

+------+-----------------+-----+
|Gender|   Attrition_Flag|count|
+------+-----------------+-----+
|     M|Attrited Customer|  697|
|     F|Existing Customer| 4428|
|     M|Existing Customer| 4072|
|     F|Attrited Customer|  930|
+------+-----------------+-----+

In [17]:
df.select("Attrition_Flag").distinct().show()

+-----------------+
|   Attrition_Flag|
+-----------------+
|Existing Customer|
|Attrited Customer|
+-----------------+

In [25]:
df.groupBy("Attrition_Flag").count().show()

+-----------------+-----+
|   Attrition_Flag|count|
+-----------------+-----+
|Existing Customer| 8500|
|Attrited Customer| 1627|
+-----------------+-----+

In [18]:
df.select("Marital_Status").distinct().show()

+--------------+
|Marital_Status|
+--------------+
|       Unknown|
|       Married|
|      Divorced|
|        Single|
+--------------+

In [26]:
df.groupBy('Marital_Status').count().show()

+--------------+-----+
|Marital_Status|count|
+--------------+-----+
|       Unknown|  749|
|       Married| 4687|
|      Divorced|  748|
|        Single| 3943|
+--------------+-----+

In [27]:
df.groupBy('Marital_Status','Attrition_Flag').count().show()

+--------------+-----------------+-----+
|Marital_Status|   Attrition_Flag|count|
+--------------+-----------------+-----+
|      Divorced|Existing Customer|  627|
|        Single|Attrited Customer|  668|
|       Married|Attrited Customer|  709|
|        Single|Existing Customer| 3275|
|      Divorced|Attrited Customer|  121|
|       Married|Existing Customer| 3978|
|       Unknown|Existing Customer|  620|
|       Unknown|Attrited Customer|  129|
+--------------+-----------------+-----+

In [19]:
df.select("Income_Category").distinct().show()

+---------------+
|Income_Category|
+---------------+
|        $120K +|
|    $60K - $80K|
|   $80K - $120K|
|        Unknown|
|    $40K - $60K|
| Less than $40K|
+---------------+

In [28]:
df.groupBy("Income_Category").count().show()

+---------------+-----+
|Income_Category|count|
+---------------+-----+
|        $120K +|  727|
|    $60K - $80K| 1402|
|   $80K - $120K| 1535|
|        Unknown| 1112|
|    $40K - $60K| 1790|
| Less than $40K| 3561|
+---------------+-----+

In [29]:
df.groupBy("Income_Category","Attrition_Flag").count().show()

+---------------+-----------------+-----+
|Income_Category|   Attrition_Flag|count|
+---------------+-----------------+-----+
| Less than $40K|Existing Customer| 2949|
|    $60K - $80K|Attrited Customer|  189|
|   $80K - $120K|Existing Customer| 1293|
|   $80K - $120K|Attrited Customer|  242|
|    $40K - $60K|Attrited Customer|  271|
|        $120K +|Attrited Customer|  126|
|    $40K - $60K|Existing Customer| 1519|
|        $120K +|Existing Customer|  601|
|        Unknown|Existing Customer|  925|
| Less than $40K|Attrited Customer|  612|
|    $60K - $80K|Existing Customer| 1213|
|        Unknown|Attrited Customer|  187|
+---------------+-----------------+-----+

In [20]:
df.select("Card_Category").distinct().show()

+-------------+
|Card_Category|
+-------------+
|     Platinum|
|       Silver|
|         Blue|
|         Gold|
+-------------+

In [30]:
df.groupBy("Card_Category").count().show()

+-------------+-----+
|Card_Category|count|
+-------------+-----+
|     Platinum|   20|
|       Silver|  555|
|         Blue| 9436|
|         Gold|  116|
+-------------+-----+

In [31]:
df.groupBy("Card_Category","Attrition_Flag").count().show()

+-------------+-----------------+-----+
|Card_Category|   Attrition_Flag|count|
+-------------+-----------------+-----+
|     Platinum|Existing Customer|   15|
|     Platinum|Attrited Customer|    5|
|         Gold|Existing Customer|   95|
|       Silver|Attrited Customer|   82|
|       Silver|Existing Customer|  473|
|         Gold|Attrited Customer|   21|
|         Blue|Existing Customer| 7917|
|         Blue|Attrited Customer| 1519|
+-------------+-----------------+-----+

In [15]:
df.select("Education_Level").distinct().show()

+---------------+
|Education_Level|
+---------------+
|    High School|
|        Unknown|
|     Uneducated|
|  Post-Graduate|
|      Doctorate|
|       Graduate|
|        College|
+---------------+

In [22]:
df.groupBy("Education_Level").count().show()

+---------------+-----+
|Education_Level|count|
+---------------+-----+
|    High School| 2013|
|        Unknown| 1519|
|     Uneducated| 1487|
|  Post-Graduate|  516|
|      Doctorate|  451|
|       Graduate| 3128|
|        College| 1013|
+---------------+-----+

In [21]:
df.groupBy("Education_Level","Attrition_Flag").count().show()

+---------------+-----------------+-----+
|Education_Level|   Attrition_Flag|count|
+---------------+-----------------+-----+
|    High School|Existing Customer| 1707|
|  Post-Graduate|Existing Customer|  424|
|      Doctorate|Existing Customer|  356|
|       Graduate|Existing Customer| 2641|
|  Post-Graduate|Attrited Customer|   92|
|     Uneducated|Existing Customer| 1250|
|        College|Existing Customer|  859|
|      Doctorate|Attrited Customer|   95|
|       Graduate|Attrited Customer|  487|
|        College|Attrited Customer|  154|
|        Unknown|Existing Customer| 1263|
|     Uneducated|Attrited Customer|  237|
|    High School|Attrited Customer|  306|
|        Unknown|Attrited Customer|  256|
+---------------+-----------------+-----+

In [33]:
df.select('Total_Relationship_Count').distinct().show()

+------------------------+
|Total_Relationship_Count|
+------------------------+
|                       1|
|                       6|
|                       3|
|                       5|
|                       4|
|                       2|
+------------------------+

In [10]:
df.describe("Attrition_Flag").show()

+-------+-----------------+
|summary|   Attrition_Flag|
+-------+-----------------+
|  count|            10127|
|   mean|             null|
| stddev|             null|
|    min|Attrited Customer|
|    max|Existing Customer|
+-------+-----------------+

In [11]:
df.groupBy("Customer_Age").agg({'Total_Revolving_Bal':'mean'}).show()

+------------+------------------------+
|Customer_Age|avg(Total_Revolving_Bal)|
+------------+------------------------+
|          31|      1098.7142857142858|
|          65|      1251.3168316831684|
|          53|      1227.6511627906978|
|          34|      1295.7808219178082|
|          28|      1006.6206896551724|
|          26|       1105.974358974359|
|          27|                 1175.75|
|          44|                1117.924|
|          47|      1139.0229645093946|
|          52|       1204.877659574468|
|          40|       1175.152354570637|
|          57|       1251.134529147982|
|          54|      1190.6091205211726|
|          48|       1130.175847457627|
|          64|      1161.7441860465117|
|          41|      1122.7625329815303|
|          43|      1155.6109936575053|
|          37|      1137.8653846153845|
|          61|      1209.9569892473119|
|          35|      1161.2173913043478|
+------------+------------------------+
only showing top 20 rows

In [12]:
df.groupBy("Customer_Age").count().show()

+------------+-----+
|Customer_Age|count|
+------------+-----+
|          31|   91|
|          65|  101|
|          53|  387|
|          34|  146|
|          28|   29|
|          26|   78|
|          27|   32|
|          44|  500|
|          47|  479|
|          52|  376|
|          40|  361|
|          57|  223|
|          54|  307|
|          48|  472|
|          64|   43|
|          41|  379|
|          43|  473|
|          37|  260|
|          61|   93|
|          35|  184|
+------------+-----+
only showing top 20 rows