In [77]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import desc,count,split,col,max,min

In [2]:
spark=SparkSession.builder.appName("First App").getOrCreate()

In [31]:
path='D:/Expedia/HandsOn/Spark/input/netflix_titles_nov_2019.csv'
df=spark.read.option("header","true").option("inferShema","true").csv(path)

In [32]:
df.printSchema()

root
 |-- show_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)
 |-- type: string (nullable = true)

In [4]:
df.columns

['show_id',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description',
 'type']

In [33]:
df.select('country').distinct().show()

+--------------------+
|             country|
+--------------------+
|Peru, United Stat...|
|South Africa, Uni...|
|      India, Germany|
|              Russia|
|Chile, United Sta...|
|Hong Kong, China,...|
|United States, Fr...|
|Denmark, France, ...|
|  Philippines, Qatar|
|  Germany, Sri Lanka|
|United States, Ir...|
|Australia, United...|
|United States, Ge...|
|France, Iran, Uni...|
| India, Soviet Union|
|Brazil, United St...|
|United Kingdom, I...|
|France, United St...|
|Turkey, United St...|
|Ireland, United K...|
+--------------------+
only showing top 20 rows

In [34]:
df=df.filter(df['country']=='India')

In [35]:
df.count()

697

In [36]:
df.show(3)

+--------+-------------------+--------------------+--------------------+-------+-----------------+------------+------+--------+--------------------+--------------------+-----+
| show_id|              title|            director|                cast|country|       date_added|release_year|rating|duration|           listed_in|         description| type|
+--------+-------------------+--------------------+--------------------+-------+-----------------+------------+------+--------+--------------------+--------------------+-----+
|81213894|    The Zoya Factor|     Abhishek Sharma|Sonam Kapoor, Dul...|  India|November 30, 2019|        2019| TV-14| 135 min|Comedies, Dramas,...|A goofy copywrite...|Movie|
|81194544|Evvarikee Cheppoddu|Basava Shankar Eeday|Rakesh Varre, Gar...|  India|November 27, 2019|        2019| TV-14| 134 min|Comedies, Interna...|When caste differ...|Movie|
|81215481|            Pranaam|      Sanjiv Jaiswal|Rajeev Khandelwal...|  India|November 25, 2019|        2019| TV-MA| 117 min|Action & Adventur...|Aspiring to fulfi...|Movie|
+--------+-------------------+--------------------+--------------------+-------+-----------------+------------+------+--------+--------------------+--------------------+-----+
only showing top 3 rows

In [37]:
df.select('type').distinct().show()

+--------------------+
|                type|
+--------------------+
|"" four short fil...|
|"" a secretly gay...|
|"" a young couple...|
|             TV Show|
| Shruti finds her...|
|               Movie|
|"" one of the mil...|
| including her Br...|
+--------------------+

In [38]:
df=df.filter(df['type']=='Movie')
df.count()

639

In [39]:
df=df.drop('country','type')

In [40]:
df.columns

['show_id',
 'title',
 'director',
 'cast',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [41]:
df.select('rating').distinct().show()

+--------+
|  rating|
+--------+
|      UR|
|      PG|
|   TV-MA|
|TV-Y7-FV|
|      NR|
|   TV-PG|
|       R|
|   TV-14|
|    TV-G|
|   TV-Y7|
|   PG-13|
+--------+

In [42]:
df.groupBy('rating').agg(count('show_id').alias('count')).sort(desc('count')).show()

+--------+-----+
|  rating|count|
+--------+-----+
|   TV-14|  343|
|   TV-MA|  148|
|   TV-PG|  110|
|      NR|   19|
|    TV-G|    4|
|   PG-13|    4|
|   TV-Y7|    3|
|      PG|    3|
|TV-Y7-FV|    2|
|       R|    2|
|      UR|    1|
+--------+-----+

In [43]:
df.show(3)

+--------+-------------------+--------------------+--------------------+-----------------+------------+------+--------+--------------------+--------------------+
| show_id|              title|            director|                cast|       date_added|release_year|rating|duration|           listed_in|         description|
+--------+-------------------+--------------------+--------------------+-----------------+------------+------+--------+--------------------+--------------------+
|81213894|    The Zoya Factor|     Abhishek Sharma|Sonam Kapoor, Dul...|November 30, 2019|        2019| TV-14| 135 min|Comedies, Dramas,...|A goofy copywrite...|
|81194544|Evvarikee Cheppoddu|Basava Shankar Eeday|Rakesh Varre, Gar...|November 27, 2019|        2019| TV-14| 134 min|Comedies, Interna...|When caste differ...|
|81215481|            Pranaam|      Sanjiv Jaiswal|Rajeev Khandelwal...|November 25, 2019|        2019| TV-MA| 117 min|Action & Adventur...|Aspiring to fulfi...|
+--------+-------------------+--------------------+--------------------+-----------------+------------+------+--------+--------------------+--------------------+
only showing top 3 rows

In [44]:
df.select('listed_in').distinct().show()

+--------------------+
|           listed_in|
+--------------------+
|Dramas, Internati...|
|Horror Movies, In...|
|Children & Family...|
|Children & Family...|
|Horror Movies, In...|
|Comedies, Cult Mo...|
|Children & Family...|
|Action & Adventur...|
|Comedies, Interna...|
|Classic Movies, D...|
|Comedies, Interna...|
|     Stand-Up Comedy|
|Children & Family...|
|Action & Adventur...|
|              Dramas|
|Action & Adventur...|
|Action & Adventur...|
|International Mov...|
|Children & Family...|
|Dramas, Faith & S...|
+--------------------+
only showing top 20 rows

In [46]:
df.groupBy('release_year').agg(count('title').alias('count')).sort(desc('count')).show()

+------------+-----+
|release_year|count|
+------------+-----+
|        2017|   92|
|        2018|   73|
|        2016|   65|
|        2015|   51|
|        2019|   43|
|        2013|   43|
|        2014|   37|
|        2012|   31|
|        2010|   29|
|        2011|   23|
|        2008|   23|
|        2009|   21|
|        2005|   15|
|        2006|   11|
|        2004|   10|
|        2007|    8|
|        2003|    8|
|        2000|    6|
|        2002|    6|
|        2001|    6|
+------------+-----+
only showing top 20 rows

In [57]:
df=df.withColumn('duration_',split(col('duration'),' '))

In [61]:
df=df.drop('duration')

In [79]:
df=df.withColumn('duration',col('duration_').getItem(0).cast('int'))

In [80]:
df.select('title','duration').sort(desc('duration')).show(5)

+--------------------+--------+
|               title|duration|
+--------------------+--------+
|              Lagaan|     224|
|        Jodhaa Akbar|     214|
|What's Your Raashee?|     203|
| Hum Aapke Hain Koun|     193|
|     Maine Pyar Kiya|     192|
+--------------------+--------+
only showing top 5 rows

In [83]:
df.select('title','duration').sort('duration').show(5)

+--------------------+--------+
|               title|duration|
+--------------------+--------+
| Famous in Ahmedabad|      29|
|        Ladies First|      40|
|               Kalki|      41|
|        The Rat Race|      52|
|The Human Factor:...|      53|
+--------------------+--------+
only showing top 5 rows

In [81]:
df.agg(max('duration')).show()

+-------------+
|max(duration)|
+-------------+
|          224|
+-------------+

In [82]:
df.agg(min('duration')).show()

+-------------+
|min(duration)|
+-------------+
|           29|
+-------------+

In [88]:
#Count of Comedy Movies
df.filter(col('listed_in').like('%Comedies%')).count()

200

In [89]:
#Count of Drama Movies
df.filter(col('listed_in').like('%Drama%')).count()

447

In [90]:
#Count of Action Movies
df.filter(col('listed_in').like('%Action%')).count()

105

In [94]:
#Count of Romatic Movies
df.filter(col('listed_in').like('%Romantic%')).count()

73

In [96]:
#Count of Adventure Movies
df.filter(col('listed_in').like('%Adventure%')).count()

105

In [97]:
#Count of Movies By Salman Khan
df.filter(col('cast').like('%Salman Khan%')).count()

9

In [101]:
#Count of Movies By Salman Khan
df.select('title','release_year').filter(col('cast').like('%Salman Khan%')).show()

+--------------------+------------+
|               title|release_year|
+--------------------+------------+
|Main aurr Mrs. Kh...|        2009|
|     Andaz Apna Apna|        1994|
|            No Entry|        2005|
| Hum Aapke Hain Koun|        1994|
|Hum Saath-Saath Hain|        1999|
|     Maine Pyar Kiya|        1989|
|Lucky: No Time fo...|        2005|
|               Ready|        2011|
|     Mumbai Cha Raja|        2012|
+--------------------+------------+

In [105]:
#Count of Movies By  Aamir Khan
df.select('title','release_year','cast').filter(col('cast').like('%Aamir Khan%')).show()

+--------------------+------------+--------------------+
|               title|release_year|                cast|
+--------------------+------------+--------------------+
|            3 Idiots|        2009|Aamir Khan, Karee...|
|                  PK|        2014|Aamir Khan, Anusk...|
|     Rang De Basanti|        2006|Aamir Khan, Siddh...|
|     Andaz Apna Apna|        1994|Aamir Khan, Salma...|
|    Secret Superstar|        2017|Zaira Wasim, Mehe...|
|Dhobi Ghat (Mumba...|        2010|Aamir Khan, Monic...|
|              Lagaan|        2001|Aamir Khan, Gracy...|
|    Taare Zameen Par|        2007|Aamir Khan, Darsh...|
|              Dangal|        2016|Aamir Khan, Saksh...|
|     Raja Hindustani|        1996|Aamir Khan, Karis...|
+--------------------+------------+--------------------+

In [ ]:
#Count of Movies By  Aamir Khan
df.select('title','release_year','cast').filter(col('cast').like('%Aamir Khan%')).show()

In [109]:
df.groupBy('director').agg(count('title').alias('count')).sort(desc('count')).show()

+--------------------+-----+
|            director|count|
+--------------------+-----+
|                null|    9|
|      S.S. Rajamouli|    7|
|         Umesh Mehra|    5|
|     Vishal Bhardwaj|    5|
|  Ashutosh Gowariker|    5|
|         Rajiv Mehra|    5|
|Abbas Alibhai Bur...|    4|
|       Milan Luthria|    4|
|        David Dhawan|    4|
|     Nagesh Kukunoor|    4|
|      Gajendra Ahire|    4|
|          Imtiaz Ali|    4|
|        Anees Bazmee|    4|
|          Farah Khan|    4|
|    Dibakar Banerjee|    4|
|Rakeysh Omprakash...|    4|
|     Nishikant Kamat|    4|
|     Ram Gopal Varma|    4|
|         Kundan Shah|    4|
|        Subhash Ghai|    4|
+--------------------+-----+
only showing top 20 rows

In [113]:
df.filter(col('director')=='S.S. Rajamouli').select('title','cast','release_year','duration').show(10,False)

+-----------------------------------------------+-------------------------------------------------------------------------------------------------------+------------+--------+
|title                                          |cast                                                                                                   |release_year|duration|
+-----------------------------------------------+-------------------------------------------------------------------------------------------------------+------------+--------+
|Baahubali: The Beginning (English Version)     |Prabhas, Rana Daggubati, Anushka Shetty, Tamannaah Bhatia, Sathyaraj, Nassar, Ramya Krishnan, Sudeep   |2015        |138     |
|Baahubali 2: The Conclusion (Hindi Version)    |Prabhas, Rana Daggubati, Anushka Shetty, Tamannaah Bhatia, Sathyaraj, Ramya Krishnan, Nassar, Subbaraju|2017        |165     |
|Baahubali 2: The Conclusion (Malayalam Version)|Prabhas, Rana Daggubati, Anushka Shetty, Tamannaah Bhatia, Sathyaraj, Ramya Krishnan, Nassar, Subbaraju|2017        |166     |
|Baahubali 2: The Conclusion (Tamil Version)    |Prabhas, Rana Daggubati, Anushka Shetty, Tamannaah Bhatia, Sathyaraj, Ramya Krishnan, Nassar, Subbaraju|2017        |166     |
|Baahubali: The Beginning (Hindi Version)       |Prabhas, Rana Daggubati, Anushka Shetty, Tamannaah Bhatia, Sathyaraj, Nassar, Ramya Krishnan, Sudeep   |2015        |159     |
|Baahubali: The Beginning (Malayalam Version)   |Prabhas, Rana Daggubati, Anushka Shetty, Tamannaah Bhatia, Sathyaraj, Nassar, Ramya Krishnan, Sudeep   |2015        |160     |
|Baahubali: The Beginning (Tamil Version)       |Prabhas, Rana Daggubati, Anushka Shetty, Tamannaah Bhatia, Sathyaraj, Nassar, Ramya Krishnan, Sudeep   |2015        |159     |
+-----------------------------------------------+-------------------------------------------------------------------------------------------------------+------------+--------+

In [114]:
df.select('title').show(10,False)

+---------------------+
|title                |
+---------------------+
|The Zoya Factor      |
|Evvarikee Cheppoddu  |
|Pranaam              |
|Dorasaani            |
|Mallesham            |
|Guna 369             |
|House Arrest         |
|U Turn               |
|Oththa Seruppu Size 7|
|Drive                |
+---------------------+
only showing top 10 rows