In [6]:
import pyspark
from pyspark.sql import SparkSession

In [52]:
from pyspark.sql.functions import col,desc,mean

In [7]:
spark=SparkSession.builder.appName("First App").getOrCreate()

In [9]:
df=spark.read.option("header","true").csv(r"D:\Expedia\HandsOn\Spark\input\train.csv")

In [10]:
df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [11]:
df.show(3)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 3 rows

# Selecting One or Multiple Columns

In [13]:
df.select("PassengerId").show(3)

+-----------+
|PassengerId|
+-----------+
|          1|
|          2|
|          3|
+-----------+
only showing top 3 rows

In [14]:
df.select("PassengerId","Name","Age").show(3)

+-----------+--------------------+---+
|PassengerId|                Name|Age|
+-----------+--------------------+---+
|          1|Braund, Mr. Owen ...| 22|
|          2|Cumings, Mrs. Joh...| 38|
|          3|Heikkinen, Miss. ...| 26|
+-----------+--------------------+---+
only showing top 3 rows

# Adding Columns with DataFrame

In [15]:
df1=df.withColumn("AGE+10",df["Age"]+10)
df1.show(3)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|AGE+10|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|  32.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|  48.0|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|  36.0|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+------+
only showing top 3 rows

# Deleting Columns

In [17]:
df2=df1.drop("AGE+10")
df2.show(3)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 3 rows

# Renaming a Column

In [19]:
df=df.withColumnRenamed("Fare","TicketPrice")
df.show(3)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|TicketPrice|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|       7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|    71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|      7.925| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----------+-----+--------+
only showing top 3 rows

# Deleting Null Values

# Filter Operation

In [21]:
survived_df=df.filter(df["Survived"]==1)
survived_df.show(3)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|TicketPrice|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|    71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|      7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|       53.1| C123|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----------+-----+--------+
only showing top 3 rows

In [22]:
not_survived_df=df.filter(df["Survived"]==0)
not_survived_df.show(3)

+-----------+--------+------+--------------------+----+----+-----+-----+---------+-----------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|   Ticket|TicketPrice|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+-----------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male|  22|    1|    0|A/5 21171|       7.25| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|male|  35|    0|    0|   373450|       8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|male|null|    0|    0|   330877|     8.4583| null|       Q|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+-----------+-----+--------+
only showing top 3 rows

# Basic Anlysis

In [23]:
df.count()

891

In [25]:
df.groupBy('Sex').count().show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  314|
|  male|  577|
+------+-----+

In [26]:
survived_df.groupBy('Sex').count().show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  233|
|  male|  109|
+------+-----+

In [27]:
not_survived_df.groupBy('Sex').count().show()

+------+-----+
|   Sex|count|
+------+-----+
|female|   81|
|  male|  468|
+------+-----+

# Finding Distinct Values in a Column

In [30]:
df.select("Sex").distinct().show()

+------+
|   Sex|
+------+
|female|
|  male|
+------+

# Filtering Null and Not Null Values

In [38]:
df.filter(col('Age').isNotNull).show(3)

TypeError: condition should be string or Column

In [40]:
df.where("Age is not Null").show(3)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|TicketPrice|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|       7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|    71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|      7.925| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----------+-----+--------+
only showing top 3 rows

In [44]:
df.where("Age is Null").show(3)

+-----------+--------+------+--------------------+------+----+-----+-----+------+-----------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|Ticket|TicketPrice|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+------+-----------+-----+--------+
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|330877|     8.4583| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|244373|         13| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|  2649|      7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+------+-----------+-----+--------+
only showing top 3 rows

In [45]:
df.where("Age is not Null").count()

714

In [46]:
df.where("Age is Null").count()

177

# Sorting Based on Values in a Column

In [50]:
df.sort(desc("Age")).show(5)

+-----------+--------+------+--------------------+------+---+-----+-----+----------+-----------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|    Ticket|TicketPrice|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------+-----------+-----+--------+
|        183|       0|     3|Asplund, Master. ...|  male|  9|    4|    2|    347077|    31.3875| null|       S|
|        542|       0|     3|Andersson, Miss. ...|female|  9|    4|    2|    347082|     31.275| null|       S|
|        166|       1|     3|"Goldsmith, Maste...|  male|  9|    0|    2|    363291|     20.525| null|       S|
|        148|       0|     3|"Ford, Miss. Robi...|female|  9|    2|    2|W./C. 6608|     34.375| null|       S|
|        481|       0|     3|Goodwin, Master. ...|  male|  9|    5|    2|   CA 2144|       46.9| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------+-----------+-----+--------+
only showing top 5 rows

In [51]:
df.sort("Age").show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+---------------+-----------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|         Ticket|TicketPrice|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------------+-----------+-----+--------+
|         30|       0|     3| Todoroff, Mr. Lalio|  male|null|    0|    0|         349216|     7.8958| null|       S|
|         46|       0|     3|Rogers, Mr. Willi...|  male|null|    0|    0|S.C./A.4. 23567|       8.05| null|       S|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|       PC 17569|   146.5208|  B78|       C|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|         330959|     7.8792| null|       Q|
|         33|       1|     3|Glynn, Miss. Mary...|female|null|    0|    0|         335677|       7.75| null|       Q|
+-----------+--------+------+--------------------+------+----+-----+-----+---------------+-----------+-----+--------+
only showing top 5 rows

# More GroupBy and Aggregation

In [55]:
df.groupBy("Sex").agg(mean("Age").alias("MeanAge")).show()

+------+------------------+
|   Sex|           MeanAge|
+------+------------------+
|female|27.915708812260537|
|  male| 30.72664459161148|
+------+------------------+

In [56]:
df.groupBy("Embarked").count().show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       Q|   77|
|    null|    2|
|       C|  168|
|       S|  644|
+--------+-----+

# Filling Null Values

In [58]:
df=df.na.fill({"Embarked":"S"})
df.groupBy("Embarked").count().show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       Q|   77|
|       C|  168|
|       S|  646|
+--------+-----+